/* shop-item */
body {
  padding-top: 70px
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

/* main */
div#main {
}

/* sidebar */
/*
div#sidebar {
}
div.sidebar-fixed {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 1000000;
}
*/

div.side-button-box {
    margin-bottom: 20px;
}
span.side-logout {
    width: 45px;
    float: right;
}

/* tweets */
.icon {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
}

div.content {
    margin-left: 53px;
}

span.fullname {
    font-weight: bold;
}
.fullname a, .username a {
    color: black;
}

span.tweet-date {
    font-weight: lighter;
}


